:root {
    --white: #FFFFFF;
    --dark-white: #EEEEEE;
    --black: #212121;
    --blue: #2196F3;
    --grey: #757575;
    --dark-grey: #2F303A;
    --soft-grey: #FFFFFF99;
    --white-grey: #F5F4FA;
    --light-grey: #ECECEC;
    --icon-grey: #AFB1B8;
    --icon-footer-grey: #FFFFFF1A;
    --heading1-grey:#2F303ACC;
    --portfolio-blue: #2196F3E5;
    --modal-background: #00000033;
    --email-input: #FFFFFF4D;
    --modal-input: #21212133;
    --modal-feedback: #75757580;    
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.background-grey {
    background-color: var(--dark-grey);
}
.background-white-grey {
    background-color: var(--white-grey);
}
.body1 {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 200px 0;
}
.background-body1 {
    background-image:
        linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/background-image.jpg");
    background-size: auto;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}
.body2 {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}
.section {
    padding: 94px 0;
}
.section1 {
    padding: 94px 0 0 0;
}
.section2 {
    height: 372px;
    padding: 94px 0 0 0;
}
.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--light-grey);
}
.box-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}
.contacts {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.contact {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    display: flex;
    gap: 46px;
    margin-right: 345px;
}
.active-link {
    color: var(--blue);
    position:relative;
}
.active-link::after {
    position: absolute;
    display: block;
    content: "";
    top: 45px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--blue);
    cursor: unset;
    pointer-events: none;
}
.logo-link1 {
    font-family: 'Raleway', sans-serif;
    color: var(--blue);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin: 0;
}
.logo-link2 {
    font-family: 'Raleway', sans-serif;
    color:  var(--blue);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin: 0;
}
.logo-link3 {
    font-family: 'Raleway', sans-serif;
    color:  var(--blue);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 1688px;
}
.black-studio {
    color: var(--black);
}
.white-studio {
    color: var(--white);
}
.link {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.address > .link {
    display: flex;
    color: var(--soft-grey);
    font-weight: 400;
    line-height: 1.71;
}
.direct-contact {
    color: var(--grey);
}
.button {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    cursor: pointer;
    background-color: var(--blue);
    padding: 10px 41px 10px 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.66;
    cursor: pointer;
    background-color: var(--white-grey);
    border-style: none;
    border-radius: 4px;
    padding: 6px 22px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.buttons-box {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.box-hidden { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.text-hidden {
    justify-content: center;
    align-items: center;
    padding: 49px 45px 49px 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    color: var(--white);
    background-color: var(--portfolio-blue);
    transform: translateY(300px);
    transition: transform 250ms linear;
}   
.picture-box {
    position: relative;
    overflow: hidden;
}
.picture {
    flex-basis: calc((100% - 60px) / 3);
    flex-basis: 370px;
    flex-direction: column;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.picture:hover .text-hidden,
.picture:focus .text-hidden {
    transform: translateY(0px);
    transition-property: transform;
    transition-duration: 250ms;
}
.picture-caption {
    border-left: 1px solid var(--dark-white);
    border-bottom: 1px solid var(--dark-white);
    border-right: 1px solid var(--dark-white);
    margin: 0 auto;
}
.description-lorem-ipsum {
    font-size: 14px;
    line-height: 1.71;
    color: var(--grey);
    margin: 0;
    letter-spacing: 0.03em;
}
.description-gallery {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.88;
    color: var(--grey);
    padding: 0px 24px 20px 24px;
    letter-spacing: 0.03em;
    margin: 0;
}
.link:focus {
    color: var(--blue);
}
.link:hover {
    color: var(--blue);
}
.link:hover .icon {
    fill: var(--blue);
}
.link:focus .icon {
    fill: var(--blue);
}
a:focus {
    color: var(--blue);
}
a:hover {
    color: var(--blue);
}
.button:focus, 
.button:hover {
    color: var(--blue);
    background-color: var(--dark-grey);
    box-shadow: 4px 4px 5px var(--blue), 2px 3px 2px var(--blue), 2px 2px 2px var(--blue);
}   

.button:focus .icon-send,
.button:hover .icon-send {
    fill: var(--blue);
}
.buttons:focus {
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons:hover {
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.contact:hover {
    color: var(--blue);
} 
.contact:focus { 
    color: var(--blue);
} 
.box-social-media:focus {
    background-color: var(--blue);
    fill: var(--white);
}
.box-social-media:hover {
    background-color: var(--blue);
    fill: var(--white);
}
.box-social-media:focus .icon-social-media{
    fill: var(--white);
}
.box-social-media:hover .icon-social-media{
    fill: var(--white);
}
li > .picture:focus figure {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
li > .picture:hover figure {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.heading3-box:hover {
    border-color: #2196F3;
}
.heading3-box:focus {
    border-color: #2196F3;
}
.heading3-box:hover .icon {
    fill: var(--blue);
}
.heading3-box:focus .icon{
    fill: var(--blue);
}
.input-box-1:hover .icon-input,
.input-box-1:focus .icon-input {
    fill: var(--blue);
    border-color: var(--blue);
}
.input-box-1:hover .modal-input,
.input-box-1:focus .modal-input {
    border-color: var(--blue);
}
.input-box-2:hover .icon-input,
.input-box-2:focus .icon-input {
    fill: var(--blue);
    border-color: var(--blue);
}
.input-box-2:hover .modal-input,
.input-box-2:focus .modal-input {
    border-color: var(--blue);
}
.input-box-3:hover .icon-input,
.input-box-3:focus .icon-input {
    fill: var(--blue);
    border-color: var(--blue);
}
.input-box-3:hover .modal-input,
.input-box-3:focus .modal-input {
    border-color: var(--blue);
}
.modal-input:hover,
.modal-input:focus  {
    border-color: var(--blue);
}
.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color:  var(--white);
    width: 696px;
    height: 120px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
}
.text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin: 0 0 10px 0;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 0;
}
p {
    color:  var(--grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
}
.heading1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px 0;
}
.heading1-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
}
.heading2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px 0;
}
.heading2-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    padding: 0;
}
.heading2-box li {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.heading2-box > li > figure > img {
    display: block;
    margin-bottom: 30px;
}
.heading3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px 0;
}
.heading3-box {
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-grey);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.heading3-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.heading4 {
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--white);
    font-style: normal;
}
.join-us {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
    padding-left: 70px;
}
.newsletter {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
    padding-left: 70px;
}
.newsletter-email {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}
.email-input{
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid var(--email-input);
    background-color: var(--dark-grey);
    color: var(--soft-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 16px;
}

.hidden {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.social-media-footer {
    background-color: var(--icon-footer-grey);
}
.social-media-footer .icon-social-media {
    fill: var(--white);
}
.member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin: 0 0 10px 0;
    padding: 0;
}
.role {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 30px;
}
.address {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white);
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}
.footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 55.5px 0;
}
h3 {
    color: var(--black);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 24px 4px 24px;
    margin: 0;
}
h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 24px 4px 24px;
    margin: 0;
}
h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 40px 40px 12px 40px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
figure {
    margin: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
img {
    display: block;
    position: relative;
}
.body {
    color: var(--black);
    font-family: 'Roboto', 'Raleway' ,'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
}
.icon-mail {
    fill: var(--grey);
    width: 16px;
    height: 12px;
}
.icon-phone {
    fill: var(--grey);
    width: 10px;
    height: 16px;
}
.icon-group {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
}
.box-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.icon-social-media {
    width: 20px;
    height: 20px;
    fill: var(--icon-grey);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.icon-client {
    fill: var(--icon-grey);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.heading1-box-1 {
    position: relative;
}
.heading1-box-2 {
    position: relative;
}
.heading1-box-3 {
    position: relative;
}
.heading1-overlay {
    position: absolute;
    top: 224px;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--heading1-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading1-overlay > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: var(--white);
}
.backdrop {
    background-color: var(--modal-background);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 100%;
    transition: opacity 200ms linear, visibility 500ms linear;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}
.checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
label {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.67;
    text-align: left;
    color: var(--grey);
    padding-top: 10px;
}
.modal-input {
    border-radius: 4px;
    border: 1px solid var(--modal-input);
    width: 448px;
    height: 40px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 42px;
}
.feedback-box {
    width: 448px;
    height: 120px;
    resize: none;
    padding: 12px 16px;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.close-btn-x {
    position: absolute;
    width: 18px;
    height: 18px;
}
.modal-form > .checkbox > .agreement {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.agreement-link {
    color: var(--blue);
    text-decoration: underline;
}
.feedback-box::placeholder {
    color: var(--modal-feedback);
}
.checkbox > .modal-button {
    width: 200px;
    height: 50px;
}
.icon-send {
    width: 24px;
    height: 24px;
    fill: var(--white);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.send-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.icon-input {
    position: absolute;
    margin-left: 15px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}

.input-box-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.input-box-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.input-box-3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.input:checked + label::before {
    border: none;
    background-image: url("./images/icons.svg#icon-icon-check");
}
