:root {
    --white: #FFFFFF;
    --dark-white: #EEEEEE;
    --black: #212121;
    --blue: #2196F3;
    --grey: #757575;
    --dark-grey: #2F303A;
    --soft-grey: #FFFFFF99;
    --white-grey: #F5F4FA;
    --light-grey: #ECECEC;
    --icon-grey: #AFB1B8;
    --icon-footer-grey: #FFFFFF1A;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.background-grey {
    background-color: var(--dark-grey);
}
.background-white-grey {
    background-color: var(--white-grey);
}
.body1 {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 200px 0;
}
.background-body1 {
    background-image:
        linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/background-image.jpg");
    background-size: auto;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}
.body2 {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
}
.section {
    padding: 94px 0;
}
.section1 {
    padding: 94px 0 0 0;
}
.section2 {
    height: 372px;
    padding: 94px 0 0 0;
}
.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--light-grey);
}
.box-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}
.contacts {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.contact {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    display: flex;
    gap: 46px;
    margin-right: 345px;
}
.active-link {
    color: var(--blue)
}
.logo-link1 {
    font-family: 'Raleway', sans-serif;
    color: var(--blue);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin: 0;
}
.logo-link2 {
    font-family: 'Raleway', sans-serif;
    color:  var(--blue);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin: 0;
}
.logo-link3 {
    font-family: 'Raleway', sans-serif;
    color:  var(--blue);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 1688px;
}
.black-studio {
    color: var(--black);
}
.white-studio {
    color: var(--white);
}
.link {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none; 
}
.address > .link {
    display: flex;
    color: var(--soft-grey);
    font-weight: 400;
    line-height: 1.71;
}
.direct-contact {
    color: var(--grey);
}
.button {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    cursor: pointer;
    background-color: var(--blue);
    padding: 10px 41px 10px 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
}
.buttons {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.66;
    cursor: pointer;
    background-color: var(--white-grey);
    border-style: none;
    border-radius: 4px;
    padding: 6px 22px;
}
.buttons-box {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    /*flex-basis: auto;*/
}
.picture {
    flex-basis: calc((100% - 60px) / 3);
    flex-basis: 370px;
    flex-direction: column;
}
.picture-caption {
    border-left: 1px solid var(--dark-white);
    border-bottom: 1px solid var(--dark-white);
    border-right: 1px solid var(--dark-white);
    margin: 0 auto;
}
.description-lorem-ipsum {
    font-size: 14px;
    line-height: 1.71;
    color: var(--grey);
    margin: 0;
    letter-spacing: 0.03em;
}
.description-gallery {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.88;
    color: var(--grey);
    padding: 0px 24px 20px 24px;
    letter-spacing: 0.03em;
    margin: 0;
}
.link:focus {
    color: var(--blue);
}
.link:hover {
    color: var(--blue);
}
.link:hover .icon {
    fill: var(--blue);
}
.link:focus .icon {
    fill: var(--blue);
}
a:focus {
    color: var(--blue);
}
a:hover {
    color: var(--blue);
}
.button:focus, 
.button:hover {
    color: var(--blue);
    background-color: var(--dark-grey);
}    
.buttons:focus {
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.buttons:hover {
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.contact:hover {
    color: var(--blue);
} 
.contact:focus { 
    color: var(--blue);
} 
.box-social-media:focus {
    background-color: var(--blue);
    fill: var(--white);
}
.box-social-media:hover {
    background-color: var(--blue);
    fill: var(--white);
}
.box-social-media:focus .icon-social-media{
    background-color: var(--blue);
    fill: var(--white);
}
.box-social-media:hover .icon-social-media{
    background-color: var(--blue);
    fill: var(--white);
}
li > .picture:focus figure {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
li > .picture:hover figure {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.heading3-box:hover {
    border-color: #2196F3;
}
.heading3-box:focus {
    border-color: #2196F3;
}
.heading3-box:hover .icon {
    fill: var(--blue);
}
.heading3-box:focus .icon{
    fill: var(--blue);
}
.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color:  var(--white);
    width: 696px;
    height: 120px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
}
.text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin: 0 0 10px 0;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 0;
}
p {
    color:  var(--grey);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 0;
}
.heading1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px 0;
}
.heading1-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
}
.heading2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px 0;
}
.heading2-box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    padding: 0;
}
.heading2-box li {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.heading2-box > li > figure > img {
    display: block;
    margin-bottom: 30px;
}
.heading3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px 0;
}
.heading3-box {
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-grey);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.heading3-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.heading4 {
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: var(--white);
    font-style: normal;
}
.join-us {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
    padding-left: 70px;
}
.footer-container {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}
.social-media-footer {
    background-color: var(--icon-footer-grey);
}
.social-media-footer .icon-social-media {
    fill: var(--white);
}


.member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin: 0 0 10px 0;
    padding: 0;
}
.role {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 30px;
}
.address {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white);
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}
.footer {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 55.5px 0;
}
h3 {
    color: var(--black);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 24px 4px 24px;
    margin: 0;
}
h4 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
h5 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 24px 4px 24px;
    margin: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
figure {
    margin: 0;
}
img {
    display: block;
}
.body {
    color: var(--black);
    font-family: 'Roboto', 'Raleway' ,'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
}
.icon-mail {
    fill: var(--grey);
    width: 16px;
    height: 12px;
}
.icon-phone {
    fill: var(--grey);
    width: 10px;
    height: 16px;
}
.icon-group {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
}
.box-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.icon-social-media {
    width: 20px;
    height: 20px;
    fill: var(--icon-grey);
}
.icon-client {
    fill: var(--icon-grey);
}
