:root {
    --white: #FFFFFF;
    --dark-white: #EEEEEE;
    --black: #212121;
    --blue: #2196F3;
    --grey: #757575;
    --dark-grey: #2F303A;
    --soft-grey: #FFFFFF99;
    --white-grey: #F5F4FA;
    --light-grey: #ECECEC;
    --icon-grey: #AFB1B8;
    --icon-footer-grey: #FFFFFF1A;
    --heading1-grey:#2F303ACC;
    --portfolio-blue: #2196F3E5;
    --modal-background: #00000033;
    --email-input: #FFFFFF4D;
    --modal-input: #21212133;
    --modal-feedback: #75757580;    
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.section-main,
.footer--background {
    background-color: var(--dark-grey);
}
.section-team--background {
    background-color: var(--white-grey);
}
.section-main__container {
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 200px 0;
}
.section-main--background {
    background-image:
        linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/background-image.jpg");
    background-size: auto;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}
.cards-asset {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
}
.container--section1 {
    padding: 94px 0 0 0;
}
.container--section2,
.container--section4 {
    padding: 94px 0;
}
.container--section3 {
    height: 372px;
    padding: 94px 0 0 0;
}
.container--footer {
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.page-header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--light-grey);
}
.box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0;
}
.contacts {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;
}
.contacts__element {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
.navigation {
    display: flex;
    gap: 46px;
    list-style: none;
    padding: 0;
    margin: 0 345px 0 0;
}
.navigation__link--active-link {
    color: var(--blue);
    position: relative;
}
.navigation__link--active-link::after {
    position: absolute;
    display: block;
    content: "";
    top: 44px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--blue);
    cursor: unset;
    pointer-events: none;
}
.box-header__logo,
.footer-info__logo {
    font-family: 'Raleway', sans-serif;
    color: var(--blue);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin: 0;
}
.box-header__logo--color-black {
    color: var(--black);
}
.footer-info__logo--color-white {
    color: var(--white);
}
.contacts__link,
.navigation__link,
.footer-info__address--link,
.gallery__picture {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.footer-info__address--link {
    display: flex;
    color: var(--soft-grey);
    font-weight: 400;
    line-height: 1.71;
}
.contacts--color {
    color: var(--grey);
}
.section-main__button,
.button {
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    font-size: 16px;
    font-weight: 700;
    line-height: 1.88;
    cursor: pointer;
    background-color: var(--blue);
    padding: 10px 41px 10px 42px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-style: none;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-box__button {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.66;
    cursor: pointer;
    background-color: var(--white-grey);
    border-style: none;
    border-radius: 4px;
    padding: 6px 22px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.menu-box {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}
.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.gallery__hidden { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}
.gallery__hidden--text {
    letter-spacing: 0.03em;
    margin: 0;
    justify-content: center;
    align-items: center;
    padding: 49px 45px 49px 24px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56;
    color: var(--white);
    background-color: var(--portfolio-blue);
    transform: translateY(300px);
    transition: transform 250ms linear;
}   
.gallery__box {
    position: relative;
    overflow: hidden;
    margin: 0;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery__box--img {
    display: block;
    position: relative;
}
.picture {
    flex-basis: calc((100% - 60px) / 3);
    flex-basis: 370px;
    flex-direction: column;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.picture:hover .gallery__hidden--text,
.picture:focus .gallery__hidden--text {
    transform: translateY(0px);
    transition-property: transform;
    transition-duration: 250ms;
}
.gallery__box--caption {
    border-left: 1px solid var(--dark-white);
    border-bottom: 1px solid var(--dark-white);
    border-right: 1px solid var(--dark-white);
    margin: 0 auto;
}
.gallery__box--title {
    color: var(--black);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 24px 4px 24px;
    margin: 0;
}
.cards-asset__description {
    font-size: 14px;
    line-height: 1.71;
    color: var(--grey);
    margin: 0;
    letter-spacing: 0.03em;
}
.gallery__box--description {
    text-decoration: none;
    font-size: 16px;
    line-height: 1.88;
    color: var(--grey);
    padding: 0px 24px 20px 24px;
    letter-spacing: 0.03em;
    margin: 0;
}
.navigation__link:focus,
.navigation__link:hover,
.link:focus, 
.link:hover,
.footer-info__address--link:focus, 
.footer-info__address--link:hover,
.contacts__element:focus,
.contacts__element:hover {
    color: var(--blue);
}
.link:hover .icon,
.link:focus .icon,
.contacts__link:hover .contacts__link--icon-mail,
.contacts__link:focus .contacts__link--icon-mail,
.contacts__link:hover .contacts__link--icon-phone,
.contacts__link:focus .contacts__link--icon-phone,
.button:focus .newsletter__email--icon-send,
.button:hover .newsletter__email--icon-send {
    fill: var(--blue);
}
.section-main__button:focus, 
.section-main__button:hover,
.button:focus, 
.button:hover {
    color: var(--blue);
    background-color: var(--dark-grey);
    box-shadow: 4px 4px 5px var(--blue), 2px 3px 2px var(--blue), 2px 2px 2px var(--blue);
}
.close-btn:focus,
.close-btn:hover {
    background-color: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.menu-box__button:focus,
.menu-box__button:hover {
    color: var(--white);
    background-color: var(--blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.social-media__box:focus,
.social-media__box:hover {
    background-color: var(--blue);
    fill: var(--white);
}
.social-media__box:focus .social-media__box--icon,
.social-media__box:hover .social-media__box--icon {
    fill: var(--white);
}
.gallery__picture:focus .gallery__box,
.gallery__picture:hover .gallery__box {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.section3-clients__box:focus,
.section3-clients__box:hover,
.modal-input:hover,
.modal-input:focus,
.section3-clients__box--icon:hover,
.section3-clients__box--icon:focus,
.input-box1:hover .modal-input,
.input-box1:focus .modal-input,
.input-box2:hover .modal-input,
.input-box2:focus .modal-input,
.input-box3:hover .modal-input,
.input-box3:focus .modal-input {
    border-color: var(--blue);
}
.section3-clients__box:hover .section3-clients__box--icon,
.section3-clients__box:focus .section3-clients__box--icon {
    fill: var(--blue);
}
.input-box1:hover .input-box1__icon,
.input-box1:focus .input-box1__icon,
.input-box2:hover .input-box2__icon,
.input-box2:focus .input-box2__icon,
.input-box3:hover .input-box3__icon,
.input-box3:focus .input-box3__icon {
    fill: var(--blue);
    border-color: var(--blue);
}
.agreement-link:hover,
.agreement-link:focus {
    color: var(--dark-grey);
}
.section-main__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    color:  var(--white);
    width: 696px;
    height: 120px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin: 0;
}
.cards-asset__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin: 0 0 10px 0;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 0;
}
.section1__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px 0;
}
.section1__box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 0;
    list-style: none;
    margin: 0;
}
.section2__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px 0;
}
.section2__box {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    text-align: center;
    padding: 0;
    list-style: none;
    margin: 0;
}
.section2__box--style {
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.section2__box--img {
    display: block;
    margin-bottom: 30px;
}
.section3 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin: 0 0 50px 0;
}
.section3-clients__box {
    width: 170px;
    height: 92px;
    border: 1px solid var(--icon-grey);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.section3-clients {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.join-us__title,
.newsletter__title {
    color: var(--white);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    line-height: 2;
    letter-spacing: 0.06em;
}
.join-us {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
    padding-left: 70px;
}
.newsletter {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 40px;
    padding-left: 70px;
}
.newsletter__email {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
}
.newsletter__email--input{
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid var(--email-input);
    background-color: var(--dark-grey);
    color: var(--soft-grey);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    padding-left: 16px;
}
.social-media__box--footer {
    background-color: var(--icon-footer-grey);
}
.section2__box--member {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin: 0 0 10px 0;
    padding: 0;
}
.section2__box--role {
    color:  var(--grey);
    font-weight: 400;
    letter-spacing: 0.03em;
    margin: 0;
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 30px;
}
.footer-info__address {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--white);
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 9px;
}
.footer-info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 55.5px 0;
}
.section2__box--position {
    margin: 0;
}
.body {
    color: var(--black);
    font-family: 'Roboto', 'Raleway' ,'Helvetica Neue', 'Verdana', 'Tahoma', sans-serif;
}
.contacts__link--icon-mail {
    fill: var(--grey);
    width: 16px;
    height: 12px;
}
.contacts__link--icon-phone {
    fill: var(--grey);
    width: 10px;
    height: 16px;
}
.cards-asset__icon {
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
}
.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    gap: 10px;
}
.social-media__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
}
.social-media__box--icon {
    width: 20px;
    height: 20px;
    fill: var(--icon-grey);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.social-media__box--icon-white {
    fill: var(--white);
}
.section3-clients__box--icon {
    fill: var(--icon-grey);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.section1__box1,
.section1__box2,
.section1__box3 {
    position: relative;
}
.section1__overlay {
    position: absolute;
    top: 224px;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: var(--heading1-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}
.section1__overlay--text {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    color: var(--white);
}
.backdrop {
    background-color: var(--modal-background);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 100%;
    transition: opacity 200ms linear, visibility 500ms linear;
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 581px;
    background-color: var(--white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
.modal-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.67;
    text-align: left;
    color: var(--grey);
    padding-top: 10px;
    gap: 10px;
}
.modal__title {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    margin: 40px 40px 12px 40px;
}
.checkbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.modal-input {
    border-radius: 4px;
    border: 1px solid var(--modal-input);
    width: 448px;
    height: 40px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    padding-left: 42px;
}
.feedback-box {
    width: 448px;
    height: 120px;
    resize: none;
    padding: 12px 16px;
}
.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: var(--white);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-btn__icon {
    position: absolute;
    width: 18px;
    height: 18px;
}
.agreement {
    display: flex;
    position: relative;
    align-items: center;
    gap: 5px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.agreement-link {
    display: flex;
    color: var(--blue);
    text-decoration: underline;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.feedback-box::placeholder {
    color: var(--modal-feedback);
}
.modal-button {
    width: 200px;
    height: 50px;
}
.newsletter__email--icon-send {
    width: 24px;
    height: 24px;
    fill: var(--white);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.newsletter__email--button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}
.input-box1__icon,
.input-box2__icon,
.input-box3__icon {
    position: absolute;
    margin-left: 15px;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.input-box1,
.input-box2,
.input-box3 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.chceckbox-box {
    appearance: none;
    -webkit-apperance: none;
}
.chceckbox-place {
    position: absolute;
}
.checkbox-icon {
    width: 16px;
    height: 15px;
    position: absolute;
    left: 0px;
    top: 4.5px;
    display: flex;
    opacity: 0;
}
.agreement::before {
    width: 16px;
    height: 15px;
    border: 2px solid var(--black);
    border-radius: 3px;
    display: block;
    content: "";
    left: 0px;
    top: 3px;
    cursor: pointer;
}
input:checked + .checkbox-icon {
    display: block;
    fill: var(--white);
    border: none;
    background-color: var(--blue);
    border-radius: 3px;
    cursor: pointer;
    opacity: 1;
}
.chceckbox-place:focus .checkbox-icon {
    transform: translateY(0px);
    transition-property: transform;
    transition-duration: 250ms;
}
