.section-main,
.footer--background {
    background-color: var(--dark-grey);
}
.section-team--background {
    background-color: var(--white-grey);
}
.section-main--background {
    background-image:
        linear-gradient(
        0deg,
        rgba(47, 48, 58, 0.4) 0%,
        rgba(47, 48, 58, 0.4) 100%
        ),
        url("../images/background-image.jpg");
    background-size: auto;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
}
