.navigation__link,
.footer__address--link {
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
}
.navigation__link:focus,
.navigation__link:hover,
.link:focus, 
.link:hover,
.footer__address--link:focus, 
.footer__address--link:hover,
.contacts__element:focus,
.contacts__element:hover {
    color: var(--blue);
}
.link:hover .icon,
.link:focus .icon,
.contacts__element:hover .contacts__element--icon-mail,
.contacts__element:focus .contacts__element--icon-mail,
.contacts__element:hover .contacts__element--icon-phone,
.contacts__element:focus .contacts__element--icon-phone,
.button:focus .newsletter__email--icon-send,
.button:hover .newsletter__email--icon-send {
    fill: var(--blue);
}
.clients__box--style:focus,
.clients__box--style:hover,
.modal__input:hover,
.modal__input:focus,
.clients__box--icon:hover,
.clients__box--icon:focus,
.modal__input-name:hover .modal__input,
.modal__input-name:focus .modal__input,
.modal__input-phone:hover .modal__input,
.modal__input-phone:focus .modal__input,
.modal__input-email:hover .modal__input,
.modal__input-email:focus .modal__input {
    border-color: var(--blue);
}
.clients__box--style:hover .clients__box--icon,
.clients__box--style:focus .clients__box--icon {
    fill: var(--blue);
}
