.contacts {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: space-between;

    &__element {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    text-decoration: none; 
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    color: var(--grey);
    }

    &__element--icon-mail {
        fill: var(--grey);
        width: 16px;
        height: 12px;
    }

    &__element--icon-phone {
        fill: var(--grey);
        width: 10px;
        height: 16px;
    }
}
.navigation {
    display: flex;
    gap: 46px;
    list-style: none;
    padding: 0;
    margin: 0 345px 0 0;

    &__link--active-link {
    color: var(--blue);
    position: relative;
    }

    &__link--active-link::after {
    position: absolute;
    display: block;
    content: "";
    top: 44px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--blue);
    cursor: unset;
    pointer-events: none;
    }
}
