.box-header__logo 
.footer-info__logo {
    font-family: 'Raleway', sans-serif;
    color: var(--blue);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin: 0;
}
.box-header__logo--color-black {
    color: var(--black);
}
.footer-info__logo--color-white {
    color: var(--white);
}
