:root {
    --white: #FFFFFF;
    --dark-white: #EEEEEE;
    --black: #212121;
    --blue: #2196F3;
    --grey: #757575;
    --dark-grey: #2F303A;
    --soft-grey: #FFFFFF99;
    --white-grey: #F5F4FA;
    --light-grey: #ECECEC;
    --icon-grey: #AFB1B8;
    --icon-footer-grey: #FFFFFF1A;
    --heading1-grey:#2F303ACC;
    --portfolio-blue: #2196F3E5;
    --modal-background: #00000033;
    --email-input: #FFFFFF4D;
    --modal-input: #21212133;
    --modal-feedback: #75757580;    
}